@model MySteamPlay.Models.EditGameListViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Game Details</h2>
<br />
<p> <h3 class="text-center">@Html.DisplayFor(model => Model.Name)</h3> </p><br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.AppId)
<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
            <div class="col-md-4">
                <img src="@Html.DisplayFor(model => model.HeaderUrl)" class="img-responsive" />
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <strong>Total time playing: </strong>@Html.DisplayFor(model => model.Playtime) <strong> hours</strong> <br />
                <br />

                @*<strong>Hide this game from Main List? &nbsp;&nbsp;&nbsp;</strong>
    <input id="toggle-event" type="checkbox" data-toggle="toggle">
    <div id="console-event"></div>
    (This does not delete your game and can be undone in the future.)<br />
    <br />*@
                
                <strong>Tags: </strong><br />
                <br />
                    <a class="btn btn-lg btn-primary" href="#" role="button"><strong>LAUNCH @Html.DisplayFor(model => Model.Name)</strong></a>
            </div>
        </div>
    <div class="row">
        <div class="col-md-5">
            <h4 class="text-center">Tags</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="container" style="max-width: 450px;">
                    @foreach (var tag in Model.AllTags)
                    {
                        <div class="col-md-4">

                            @if (Model.GameTagIds.Contains(tag.tagID))
                            {
                                <input type="checkbox" name="GameTagIds" value=@tag.tagID checked="checked">
                            }
                            else
                            {
                                <input type="checkbox" name="GameTagIds" value=@tag.tagID>
                            }
                            <label>@tag.tagName</label>
                        </div>
                    }
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div class="form-group" style="min-width:260px; height:auto; text-align:center">
                @Html.LabelFor(model => model.Comment, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Comment, new { htmlAttributes = new { @class = "form-control", @placeholder="Leave your notes and comments to self here" } })
                    @Html.ValidationMessageFor(model => model.Comment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br /><br /><br />
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
    <footer class="text-center" style="padding-top:30px">
        @Html.ActionLink("Edit", "Edit", new { id = Model.AppId }) |
        @Html.ActionLink("Back to List", "Index")
    </footer>
</div>
}


@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
}
<script>
    $(function () {
        $('#toggle-event').change(function () {
            $('#console-event').html('Toggle: ' + $(this).prop('checked'))
        })
    })
</script>