@model IEnumerable<MySteamPlay.Models.GameListViewModel>

@{
    ViewBag.Title = "Game List";
}

<h2>@Html.ViewBag.Title</h2>


@Html.ActionLink("Update Owned Games", "Create", new { }, new { @class = "btn btn-primary" })

<div class="row">
    <div class="col-xs-9">My Steam Games</div>
    <div class="col-xs-4"><h2>Tags</h2><br></div>
    <div class="col-xs-8">My Steam Games<br></div>
</div>



<div id="sidebar-wrapper" class="pre-scrollable">
    <h2>Tags</h2>
        <ul class="sidebar-nav pull-left">
            <li>Tag 1</li>
            <li>Tag 2</li>
            <li>Tag 3</li>
            <li>Tag 1</li>
            <li>Tag 2</li>
            <li>Tag 3</li>
            <li>Tag 1</li>
            <li>Tag 2</li>
            <li>Tag 3</li>
            <li>Tag 1</li>
            <li>Tag 2</li>
            <li>Tag 3</li>
            <li>Tag 1</li>
            <li>Tag 2</li>
            <li>Tag 3</li>
            <li>Tag 1</li>
            <li>Tag 2</li>
            <li>Tag 3</li>
        </ul>
</div>


<div class="pre-scrollable">
    <div class="scrollableGameList">
        <table class="table">
            <tr>
                <th><h2>My Steam Games</h2></th>
            </tr>
            <tr>
                <td>@Html.DisplayNameFor(model => model.LogoUrl)</td>
                <td>@Html.DisplayNameFor(model => model.Name)</td>
                <td>@Html.DisplayNameFor(model => model.Comment)</td>
                <td>@Html.DisplayNameFor(model => model.Playtime)</td>
            </tr>
            @foreach (var item in Model)
            {

                <tr>
                    <td><img src="@Html.DisplayFor(modelItem => item.LogoUrl)" class="img-responsive" /></td>
                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Comment)</td>
                    <td>@Html.DisplayFor(modelItem => item.Playtime)</td>

                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.AppId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.AppId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>


